**
!pom.xml
!docker/
!docker/Dockerfile.integration
!ems-contracts/
!ems-contracts/pom.xml
!ems-contracts/src/
!ems-contracts/src/main/
!ems-contracts/src/main/**
!ems-auth-service/
!ems-auth-service/pom.xml
!ems-auth-service/src/
!ems-auth-service/src/main/
!ems-auth-service/src/main/**
!ems-people-service/
!ems-people-service/pom.xml
!ems-people-service/src/
!ems-people-service/src/main/
!ems-people-service/src/main/**
!ems-workforce-service/
!ems-workforce-service/pom.xml
!ems-workforce-service/src/
!ems-workforce-service/src/main/
!ems-workforce-service/src/main/**
!ems-gateway-service/
!ems-gateway-service/pom.xml
!ems-gateway-service/src/
!ems-gateway-service/src/main/
!ems-gateway-service/src/main/**
